# LATEX meta ignores
**.aux
**.bbl
**.bcf
**.blg
**.lof
**.log
**.out
**.run.xml
**.synctex.gz
**.toc
**/venv
**/__pycache__
.venv
**.out
**.o
**.d
**.su
**.cyclo
**.pkl
**.elf
**.list
**.map
**.bbl-SAVE-ERROR
**.fls
**.fdb_latexmk